{% extends 'mainapp/basic.html' %}

{% block title %}
StocksWatch - Alertas
{% endblock title %}

{% block body %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        padding: 10px;
    }

    .mercado_component,
    .activity_component {
        background-color: whitesmoke;
        padding: 20px;
        text-align: center;
        display: flexbox;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 4px;
    }

    .feed_component {
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 4px;
    }
</style>

<div class="home-container">

    <div class="mercado_component">
        {% include 'mainapp/component/mercado_component.html' %}
    </div>

    <div class="feed_component d-grid gap-2 d-md-block">
        {% include 'mainapp/component/alerts_component.html' %}
    </div>
    <div class="activity_component">
        {% include 'mainapp/component/activity_component.html' %}
    </div>

</div>

{% endblock body %}