{% extends 'mainapp/basic.html' %}
{% load static %}


{% block title %}
{% load myfilters %}
StocksWatch - Carteira
{% endblock title %}

{% block css %}
  .red { color: red; }
  .green { color: green; }
{% endblock css %}

{% block body %}
<div class="container">
    <br>
    <h3>Carteira de Ações</h3>

    <table class="table-container">
        <table class="table">

            <thead>
                <tr>
                    <th scope="col">Nota</th>
                    <th scope="col">Ativo</th>
                    <th scope="col">Preço</th>
                    <th scope="col">P.M.</th>
                    <th scope="col">52Wk</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Total</th>
                    <th scope="col">Remuneração</th>
                    <th scope="col">Ações</th>
                    <th scope="col">Histórico</th>
                </tr>
            </thead>

            <tbody>
                {% for key, value in data.items %}
                <tr>
                    <th scope="row">{{key.nota}}</th>  <!-- Nota -->
                    <td>{{key}}</td>  <!-- ativo/ticker -->
                    <td id='{{key}}_preco'>{{ value|get:'Quote Price'|floatformat:2 }}</td>  <!-- preco online -->
                    <td id='{{key}}_pm'>{{key.preco_medio}}</td>  <!-- preco medio -->
                    <td id='{{key}}_fiftytwo'>{{ value|get:'52 Week Range'}}</td>  <!-- 52 week range -->
                    <td id='{{key}}_qnt'>{{key.quantidade}}</td>  <!-- qnt de papeis na carteira -->
                    
                    <td id='{{key}}_total'>  <!-- Total do ativo na carteira - Quantidade * preco de mercado -->
                        <script>
                            result = document.getElementById('{{key}}_qnt').innerHTML * document.getElementById('{{key}}_preco').innerHTML;
                            document.getElementById('{{key}}_total').innerHTML = result.toFixed(2);
                        </script>
                    </td>
                    <td id='{{key}}_rm'>  <!-- Remuneracao do ativo de acordo com preco medio -->
                        <script>
                            result = (document.getElementById('{{key}}_total').innerHTML /
                                (document.getElementById('{{key}}_qnt').innerHTML * document.getElementById('{{key}}_pm').innerHTML)) - 1;
                            if (result >= 0){document.getElementById("{{key}}_rm").className = "green";}    
                            if (result < 0){document.getElementById("{{key}}_rm").className = "red";}
                            document.getElementById('{{key}}_rm').innerHTML = (result * 100).toFixed(2) + '%';
                        </script>
                    </td>
                    <td>  <!-- manipulacao de ativos da carteira - excluir/editar -->
                        <a class="btn btn-warning btn-sm" href="{% url 'update-carteira' key.id %}">Edit</a>
                        <a class="btn btn-danger btn-sm" href="{% url 'delete-carteira' key.id %}">Del</a>
                    </td>
                    <td>    <!-- historico em graficos -->
                        <form action='graph'>
                            <button class="btn btn-primary btn-sm" name='graph' value={{key}} type="submit">Gráfico</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </table>
    <!-- adicionar novo ativo na carteira -->
    <a class="btn btn-primary btn-sm d-grid gap-2" href="{% url 'create-carteira' %}">Adicionar Novo Ativo</a>
    
    <!-- totais da carteira WIP -->
    <div style="float:right; padding: 15px;">
        <big>Patrimônio:</big>
        <big id='totais'></big>
        <script>
            var sum = 0;
            {% for key, value in data.items %}
                var value = document.getElementById('{{key}}_total').innerHTML;
                sum += parseFloat(value);
            {% endfor %}
            document.getElementById('totais').innerHTML = sum.toFixed(2);
        </script>
    </div>

</div>

{% endblock body %}