{% extends 'mainapp/basic.html' %}
{% load static %}


{% block title %}
StocksWatch - Picker
{% endblock title %}


{% block body %}
<div class="container">
    <h1>{{mercado}}</h1>
    <form class="form-control" action="/stocktracker">
        <label for="stockpicker">Selecione o(s) ativo(s)</label>

        <select class="form-select form-select-lg mb-3" size="20" multiple aria-label="multiple select example" name="stockpicker">
        {% for i in stockpicker %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
        </select><br>

        <div class="d-grid gap-2">
            <input class="btn btn-primary " type="submit" value="Pesquisar">
        </div>
    </form>
</div>
{% endblock body %}