
{% if alertas and not room_messages %}
<h3>Alertas Recentes</h3>
{% else %}
<h3>Atividade Recente</h3>
{% endif %}
<br>


<!-- MENSAGENS (atividade recente) -->
<div class="container">
    {% for message in room_messages %}
    <div class="col">
        <div style="background-color: whitesmoke;" class="card">
            
            <small class="text-muted">({{ message.created|timesince }} ago)</small>

            <a  style="margin: 3px;"
                class="btn btn-primary btn-sm"
                href="{% url 'user-profile' message.user.id %}">{{ message.room }}</a>

            <small class="text-muted">"{{ message }}"</small>

            <a  style="--bs-btn-font-size: .75rem; margin: 3px;"
                class="btn btn-secondary btn-sm" 
                href="{% url 'user-profile' message.user.id %}">@{{ message.user }}</a>

            {% if request.user == message.user %}
                <a  style="margin: 3px;"
                    class="btn btn-danger btn-sm" 
                    href="{% url 'delete-message' message.id %}">Apagar</a>
            {% endif %}
        </div>
    </div>
    <br>
    {% endfor %}
</div>

<!-- ALERTAS (alertas recentes) -->
<div class="container">
    {% for alerta in alertas %}
    {% if request.user == alerta.host %}
    <div class="col">
        <div style="background-color: whitesmoke;" class="card">

            <a style="margin: 3px;" class="btn btn-primary btn-sm" href="{% url 'view-alert' alerta.id %}">{{alerta}}</a>
            <small>{{ alerta.mercado }}</small>
            <small>{{ alerta.created|timesince }} ago</small>
            <small>{{ alerta.created }}</small>

            <a  style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .75rem; margin: 3px;" 
                class="btn btn-warning btn-sm" 
                href="{% url 'update-alert' alerta.id %}">Editar</a>

            <a  style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .75rem; margin: 3px;" 
                class="btn btn-danger btn-sm" 
                href="{% url 'delete-alert' alerta.id %}">Apagar</a>
        </div>
    </div>
    <br>
    {% endif %}
    {% endfor %}
</div>