{% if request.user == user %}
<div class="container">
    <h3>Salas</h3>
    <br>
    <!-- mostra apenas numero de salas quando na pagina do forum -->
    {% if room_count %}
    <h5>{{ room_count }} sala(s) disponíveis</h5>
    {% endif %}
    <!-- botao para criar nova sala -->
    <a class="btn btn-primary btn-sm d-grid gap-2" 
        href="{% url 'create-room' %}">Criar Sala</a>
</div>
<br>
{% endif %}


<!-- salas -->
<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for room in rooms %}
        <div class="col d-flex flex-wrap">
            <div class="card d-flex flex-wrap" style="background-color: whitesmoke;">
                <div class="card-body">
                    <!-- nome da sala -->
                    <a class="btn btn-primary d-grip gap-2 card-title" href="{% url 'room' room.id %}">{{room.name}}</a> 
                    <!-- topico -->
                    <p class="card-text">{{room.topic.name}}</p>
                    <!-- data de criacao/modificacao -->
                    <small>{{room.updated}}</small>
                    
                    <!-- botoes -->
                    <div class="card-footer">
                        <!-- adiciona botoes editar/apagar apenas para usuario dono da sala -->
                        {% if request.user == room.host %}
                            <a style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .75rem;"
                                class="btn btn-warning btn-sm" 
                                href="{% url 'update-room' room.id %}">Editar</a>
                            <a style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .75rem;"
                                class="btn btn-danger btn-sm" 
                                href="{% url 'delete-room' room.id %}">Apagar</a>
                        {% endif %}
                        <!-- link para o profile do usuario dono da sala -->
                        {% if request.user != room.host %}
                        <a style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .75rem;"
                            class="btn btn-secondary btn-sm" 
                            href="{% url 'user-profile' room.host.id %}">
                            @{{room.host.username}}
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
