{% extends 'mainapp/basic.html' %}

{% block title %}
StocksWatch - Forum
{% endblock title %}

{% block css %}
.home-container{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 5px;
}
.feed_component,
.topics_component,
.activity_component{
    padding: 10px;
    text-align: center;
    align-items: center;
    position: relative;
}
{% endblock css %}


{% block body %}
<div class="home-container">
    <div class="topics_component">
        {% include 'mainapp/component/topics_component.html' %}
    </div>

    <div class="feed_component d-grid gap-2 d-md-block">
        {% include 'mainapp/component/feed_component.html' %}
    </div>

    <div class="activity_component">
        {% include 'mainapp/component/activity_component.html' %}
    </div>
</div>
{% endblock body %}