<!--
  basic.html é o template usado por todas as outras paginas para 
  injetar seu conteudo no bloco TITLE, CSS e BODY
-->
<!doctype html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- jquery datatables CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  <!-- bootastrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  {% block head %}{% endblock head %}
  <style>
    {% block css %}{% endblock css %}
    .footer {
      position:fixed;
      bottom:0;
      width:100%;
      text-align:center;
      height:20px;
      font-family: Arial;
      font-size: small;
      color: gray;
    }
    .footer a {
      text-decoration:none;
      color: gray;
    }
  </style>
  <title>{% block title %} {% endblock title %}</title>
</head>

<body>
  <!-- inclui a NAVBAR em todas as paginas que derivam desta -->
  {% include 'mainapp/basic_navbar.html' %}

  {% block body %}
  {% endblock body %}


  
  <footer class="footer">
    <p>Webmaster: <a href="https://tarsogalvao.ddns.net" target="_blank">
        Tarso Galvão</a> - Powered by: Bootstrap JQuery Python Django MySQL</p>
  </footer>

 
  <!-- jquery datatables JS -->
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
  <!-- bootastrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <!-- light/dark mode switcher -->
  <script>
    (function () {
      let lightSwitch = document.getElementById('lightSwitch');
      if (!lightSwitch) {
        return;
      }

      /**
       * @function darkmode
       * @summary: changes the theme to 'dark mode' and save settings to local stroage.
       * Basically, replaces/toggles every CSS class that has '-light' class with '-dark'
       */

      function darkMode() {
        document.querySelectorAll('.bg-light').forEach((element) => {
          element.className = element.className.replace(/-light/g, '-dark');
        });

        document.body.classList.add('bg-dark');

        if (document.body.classList.contains('text-dark')) {
          document.body.classList.replace('text-dark', 'text-light');
        } else {
          document.body.classList.add('text-light');
        }

        // Tables
        var tables = document.querySelectorAll('table');
        for (var i = 0; i < tables.length; i++) {
          // add table-dark class to each table
          tables[i].classList.add('table-dark');
        }

        // set light switch input to true
        if (!lightSwitch.checked) {
          lightSwitch.checked = true;
        }
        localStorage.setItem('lightSwitch', 'dark');
      }

      /**
       * @function lightmode
       * @summary: changes the theme to 'light mode' and save settings to local stroage.
       */
      function lightMode() {
        document.querySelectorAll('.bg-dark').forEach((element) => {
          element.className = element.className.replace(/-dark/g, '-light');
        });

        document.body.classList.add('bg-light');

        if (document.body.classList.contains('text-light')) {
          document.body.classList.replace('text-light', 'text-dark');
        } else {
          document.body.classList.add('text-dark');
        }

        // Tables
        var tables = document.querySelectorAll('table');
        for (var i = 0; i < tables.length; i++) {
          if (tables[i].classList.contains('table-dark')) {
            tables[i].classList.remove('table-dark');
          }
        }

        if (lightSwitch.checked) {
          lightSwitch.checked = false;
        }
        localStorage.setItem('lightSwitch', 'light');
      }

      /**
       * @function onToggleMode
       * @summary: the event handler attached to the switch. calling @darkMode or @lightMode depending on the checked state.
       */
      function onToggleMode() {
        if (lightSwitch.checked) {
          darkMode();
        } else {
          lightMode();
        }
      }

      /**
       * @function getSystemDefaultTheme
       * @summary: get system default theme by media query
       */
      function getSystemDefaultTheme() {
        const darkThemeMq = window.matchMedia('(prefers-color-scheme: dark)');
        if (darkThemeMq.matches) {
          return 'dark';
        }
        return 'light';
      }

      function setup() {
        var settings = localStorage.getItem('lightSwitch');
        if (settings == null) {
          settings = getSystemDefaultTheme();
        }

        if (settings == 'dark') {
          lightSwitch.checked = true;
        }

        lightSwitch.addEventListener('change', onToggleMode);
        onToggleMode();
      }

      setup();
    })();
  </script>
</body>

</html>