<!--
  basic.html é o template usado por todas as outras paginas para 
  injetar seu conteudo no bloco TITLE, CSS e BODY
-->
<!doctype html>
<html lang="en">
{% load static %}
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jquery datatables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <!-- bootastrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
          rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
          crossorigin="anonymous">
    {% block head %}{% endblock head %}
    <style>{% block css %} {% endblock css %}</style>
    <title>{% block title %} {% endblock title %}</title>
  </head>

  <body>
    <!-- inclui a NAVBAR em todas as paginas que derivam desta -->
    {% include 'mainapp/basic_navbar.html' %}

    {% block body %}
    {% endblock body %}
  
  <!-- jquery datatables JS -->
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
  <!-- bootastrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
          integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" 
          crossorigin="anonymous"></script>
  </body>
</html>
