<div class="container">
    <h2>Configurar Alertas</h2>
    <div>


    <form class="form-control" action="alarm-ibov"> {% csrf_token %}

        {%comment%} DROPDOWN DE ATIVOS {%endcomment%}
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option selected>Escolha um ativo:</option>

            {% for key, value in data.items %}
            <option name={{key}} type="text" value={{forloop.counter}}>{{ key }}</option>
            {% endfor %}
        </select>
    

        {% comment %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input name="user_email" type="text" class="form-control" placeholder="E-mail para alertas" aria-label="email" aria-describedby="basic-addon1">
        </div> 
        {% endcomment %}


        {%comment%} CAIXA PRECO MIN MAX name="preco_compra" name="preco_venda"{%endcomment%}
        <div class="input-group mb-3">
            <span class="input-group-text">Compra</span>
            <input name="preco_compra" type="text" 
                class="form-control" placeholder="R$ 0.00" aria-label="R$">
            <span class="input-group-text">Venda</span>
            <input name="preco_venda" type="text" 
                class="form-control" placeholder="R$ 0.00" aria-label="R$">
        </div>


        {%comment%} CAIXA PERIODICIDADE name="periodo_busca" name="tempo_operacao"{%endcomment%}
        <div class="input-group mb-3">
            <span class="input-group-text">Minutos entre buscas:</span>
            <input name="periodo_busca" type="text" 
                class="form-control" placeholder="Intervalo entre cada pesquisa de preço" aria-label="tempo busca">
            <span class="input-group-text">Dias de operação:</span>
            <input name="tempo_operacao" type="text" 
                class="form-control" placeholder="Tempo total da operação" aria-label="tempo total">
        </div>


        {%comment%} CHECKBOX {%endcomment%}
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" 
                for="exampleCheck1">Entendo que receberei e-mails periódicos ao inciar esta operação.</label>
        </div>

        <button type="submit" class="btn btn-primary">Iniciar</button>
        {% comment %} <button onclick="" class="btn btn-primary">Mostrar gráfico</button> {% endcomment %}

    </form>


</div>
</div>
  