
<div class="container">
<h3>Salas</h3>
<br>
<h5>{{ room_count }} room(s) available</h5>
<a class="btn btn-primary btn-sm d-grid gap-2" href="{% url 'create-room' %}">Create Room</a>
</div>
<hr>
{% for room in rooms %}
<div>
    

    
    <h5>
        {{room.id}} - <a href="{% url 'room' room.id %}">{{room.name}}</a>
    </h5>

    <small>{{room.topic.name}}</small>
    <br><br>
    {% if request.user == room.host %}
        <a class="btn btn-warning btn-sm" href="{% url 'update-room' room.id %}">Edit</a>
        <a class="btn btn-danger btn-sm" href="{% url 'delete-room' room.id %}">Delete</a>
    {% endif %}

    <a class="btn btn-secondary btn-sm" href="{% url 'user-profile' room.host.id %}">
        @{{room.host.username}}
    </a>
</div>
{% endfor %}