{% extends 'mainapp/basic.html' %}

{% block title %}
StocksAlarm
{% endblock %}


{% block body %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        padding: 10px;
    }
    .topics_component, .activity_component{
        background-color: whitesmoke;
        padding: 20px;
        text-align: center;
        display: flexbox;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .feed_component{
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
</style>

<div class="home-container">

    <div class="topics_component">
        {% include 'mainapp/topics_component.html' %}
    </div>

    <div class="feed_component d-grid gap-2 d-md-block">
        {% include 'mainapp/feed_component.html' %}
    </div>

    <div class="activity_component">
        {% include 'mainapp/activity_component.html' %}
    </div>

</div>

{% endblock %}