{% extends 'mainapp/basic.html' %}

{% block title %}
StocksAlarm
{% endblock title %}

{% block body %}


{% if page == 'login' %}
    <br>
    <div class="container">
        <form method="POST" action="">
            {% csrf_token %}

            <label>Username:</label>
            <input type="text" name="username" placeholder="Enter username"/>

            <label>Password:</label>
            <input type="password" name="password" placeholder="Enter password"/>


            <input type="submit" value="Login" />
        </form>
        <br>
        <p>Didn't sign up yet?</p>
        <a class="btn btn-primary" href="{% url 'register' %}">Sign up</a>
    
{% else %}
    
        <form class="container" style="padding: 20px" method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Register" />

        </form>

        <div class="container" style="padding: 20px">
        <p>Already signed up?</p>
        <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
        </div>
    </div>
{% endif %}

{% endblock body %}