{% extends 'mainapp/basic.html' %}


{% block title %}
StocksAlarm - LOGIN
{% endblock title %}



{% block body %}

{% if page == 'login' %}
    <br>
    <div class="container form-control">
        <form method="POST" action="">
            {% csrf_token %}

            <label>Nome:</label>
            <input type="text" name="username" placeholder="Enter username"/>

            <label>Senha:</label>
            <input type="password" name="password" placeholder="Enter password"/>


            <input type="submit" value="Entrar" />
        </form>
        <br>
        <p>Ainda não é registrado?</p>
        <a class="btn btn-primary" href="{% url 'register' %}">Registrar</a>
    
{% else %}
    
        <form class="container form-control" 
                style="padding: 20px; margin-top: 20px" method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Register" />

        </form>

        <div class="container form-control" style="padding: 20px">
        <p>Já possui um registro?</p>
        <a class="btn btn-primary" href="{% url 'login' %}">Entrar</a>
        </div>
    </div>
{% endif %}

{% endblock body %}