{% extends 'base.html' %}

{% block title %}Notes{% endblock title %}

{% block body %}
<h1>My Notes</h1>
<div class="note-wrapper">
    <ul class="list-group list-group-flush" id='notes'>
        {% for note in user.notes %}
        <small class="list-group-item active">Added: {{ note.date }} - from: {{ user.firstName }} {{ user.lastName }} - ({{ user.email }})</small>
        <li class="list-group-item"> {{ note.text }}
            <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                <span aria-hidden='true'>&times;</span>
            </button>
        </li>
        {% endfor %}
    </ul>
    
    <form method='POST'>
        <textarea name='note' id='note' class="form-control"></textarea>
        <div>
            <button type="submit" class="btn btn-primary">Add Note</button>
        </div>
    </form>
</div>
{% endblock body %}
