{% extends 'mainapp/basic.html' %}

{% block title %}
StocksWatch Profile
{% endblock title %}


{% block body %}

<style>
    .profile-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        padding: 5px;
    }
    .profile_title,
    .feed_component,
    .topics_component,
    .activity_component{
        padding: 5px;
        text-align: center;
        align-items: center;
        position: relative;
    }
    .profile_title{
        background-color: whitesmoke;
    }
</style>

<div class="profile_title">
    <h2 class="text-capitalize">{{user.username}}'s Profile</h2>
</div>

<div class="profile-container">

    <div class="topics_component">
        {% if request.user == user %}
            {% include 'mainapp/component/topics_component.html' %}
        {% endif %}
    </div>

    <div class="feed_component d-grid gap-2 d-md-block">
        {% if request.user == user %}
            {% include 'mainapp/component/alerts_component.html' %}
        {% endif %}
        <br>
        {% include 'mainapp/component/feed_component.html' %}   
    </div>

    <div class="activity_component">
        {% if request.user == user %}
            {% include 'mainapp/component/activity_component.html' %}
        {% endif %}
    </div>

</div>

{% endblock body %}